---
layout: default
---

<h1 class="text-center mt-1">SAMMI Bridge </h1>
{% include connection/connection_info.html %}
<br>
{% include helpers/modal.html %}
<!--Tabs -->
<span id="close-tab-button">
    &times;
  </span>  
<div class="row justify-content-center g-0">
    <ul class="nav nav-pills mb-0" id="extensions-tab" role="tablist">
</div>
<!-- Tab Content -->
<div class="tab-content" id="extensions-tabContent">
    {% include tabs/html/bridge_status.html %}
    {% include tabs/html/extension_updates.html %}
    {% include tabs/html/twitch_triggers.html %}
    {% include tabs/html/youtube_triggers.html %}
    <!--Your external script will be inserted here-->
    <!--<script src="example.js"></script>-->
    <!--INSERT PART 1-->
</div>
{% include tabs/html/tab_footer.html %}