---
layout: default
---
<h1 class="text-center">LioranBoard Transmitter </h1>
<!-- Connection Info -->
<div class="row justify-content-center">
  <div class="col col-auto">
    <svg id="toclient_circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill d-md-none me-1" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    <span>Receiver</span><span class="d-none d-md-inline-flex me-1">: </span><span id="toclient" class="disconnected d-none d-md-inline-flex">Not connected.</span>
  </div>
  <div class="col col-auto">
    <svg id="topubsub_circle" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill d-md-none me-1" viewBox="0 0 16 16">
        <circle cx="8" cy="8" r="8"/>
      </svg>
    <span>Pubsub</span><span class="d-none d-md-inline-flex me-1">: </span><span class="disconnected d-none d-md-inline-flex" id="topubsub">Not connected.</span>
  </div>
</div> <br>
<!--Tabs -->
<div class="row justify-content-center g-0">
    <ul class="nav nav-pills mb-0" id="extensions-tab" role="tablist">
</div>  
 <!-- Tab Content -->
 <div class="tab-content" id="extensions-tabContent">
{% include ext_tabcontent.html %}
{% include twitch_triggers.html %}
</div>
<div class="row justify-content-center mt-3 px-2 mb-5" id="footer"> <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#installedextensions" role="button" aria-expanded="false" aria-controls="installedextensions"></a>
  <span class='collapse' id="installedextensions"></span>
  <span id ='extensions-tab-buttons' class="mt-2">
  <button id="extensionsshow" class="btn btn-primary btn-sm me-1">Show All Tabs</button> <button id="extensionshide" class="btn btn-primary btn-sm me-1">Hide All Tabs</button> <button id="extensionsresetorder" class="btn btn-primary btn-sm me-1">Reset Tab Order</button> <button onclick="location.reload()" class="btn btn-primary btn-sm me-1">Refresh</button></span>
</div>

