<div>
    <div class="yt-trigger-row">
        <button type="button" class="btn btn-primary btn-sm" id="ytLiveTestSuperSticker">Super Sticker</button>
        <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#YTLiveHideSuperSticker" role="button"
            aria-expanded="false" aria-controls="HideSuperSticker"></a>
    </div>
    <div class="collapse" id="YTLiveHideSuperSticker" data-bs-parent="#content-yttriggers">
        <div class="form-check ps-0 d-flex align-items-center">
            <label class="form-check-label me-1">Amount:</label>
            <input type="number" min="1" max="100000" class="form-control form-control-sm w-auto  me-2"
                id="YTLiveSuperStickerAmount">
        </div>
    </div>
</div>
