<form id="SAMMITestTwitchAdbreak" class="SAMMITestTriggers">
    <button type="submit" class="btn btn-primary btn-sm me-1">Test Ad Break</button>
    <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hideadbreak" role="button" aria-expanded="false"
        aria-controls="hideadbreak"></a>
    <div class="collapse" id="hideadbreak">
        <div class="form-group mb-2">
            <label>Requester Username:</label>
            <input type="text" class="form-control form-control-sm w-auto" name="name">
        </div>
        <div class="form-group mb-2">
            <input type="checkbox" class="form-check-input" name="adbreakAuto"> Is Automatic
        </div>
    </div>
</form>