<form id="SAMMITestTwitchCharity" class="SAMMITestTriggers">
   <div class="form-group d-flex align-items-center">
       <button type="submit" class="btn btn-primary btn-sm me-1">Test Charity</button>
       <select class="form-select form-select-sm w-auto me-2" aria-label="Type" name="charityType">
        <option value="start" selected>Started</option>
        <option value="progress">Progressed</option>
        <option value="stop">Stopped</option>
        <option value="donate">Donated</option>
     </select>
   </div>
</form>