<form id="SAMMITestTwitchChat" class="SAMMITestTriggers">
  <div>
    <button type="submit" class="btn btn-primary btn-sm me-1">Chat Message</button>
    <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hidechatmsg" role="button" aria-expanded="false" aria-controls="hidechatmsg"></a>
  </div>
  <div class="collapse" id="hidechatmsg" data-bs-parent="#content-triggers">
    <div class="form-check ps-0 d-flex align-items-center mb-2">
      <label class="form-check-label me-1">Username:</label>
      <input type="text" class="form-control form-control-sm w-auto me-2" name="name">
    </div>
    <div class="form-check ps-0 d-flex align-items-center mb-2">
      <label class="form-check-label me-1">Message:</label>
      <textarea class="form-control form-control-sm w-75" name="chatMsg"></textarea>
    </div>
    <div class="form-group mb-2">
      <label class="d-block">Message Options:</label>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatFirstTime">
        <label class="form-check-label">1st Message</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatBroadcaster">
        <label class="form-check-label">Broadcaster</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatLeadModerator">
        <label class="form-check-label">Lead Moderator</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatMod">
        <label class="form-check-label">Moderator</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatSub">
        <label class="form-check-label">Subscriber</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatVip">
        <label class="form-check-label">VIP</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatFounder">
        <label class="form-check-label">Founder</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatOwnChat" checked>
        <label class="form-check-label">Is Own Chat</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="checkbox" class="form-check-input" name="chatTurbo">
        <label class="form-check-label">Turbo</label>
      </div>
    </div>
  </div>
</form>
