<form id="SAMMITestExtensionTrigger" class="SAMMITestTriggers">
  <div>
    <button type="submit" class="btn btn-primary btn-sm me-1">Extension Trigger</button>
    <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hideextensiontrigger" role="button" aria-expanded="false" aria-controls="hideextensiontrigger"></a>
  </div>
  <div class="collapse" id="hideextensiontrigger" data-bs-parent="#content-triggers">
    <div class="form-group mb-2">
      <label>Payload JSON:</label>
      <textarea class="form-control form-control-sm w-75" rows="5" name="extensionTriggerPayload">{}</textarea>
    </div>
  </div>
</form>
