<form id="SAMMITestTwitchRaid" class="SAMMITestTriggers">
   <button type="submit" class="btn btn-primary btn-sm me-1">Test Raid</button>
   <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hideraid" role="button" aria-expanded="false"
   aria-controls="hideraid"></a>
   <div class="collapse" id="hideraid">
      <div class="form-group mb-2">
         <label>Username:</label>
         <input type="text" class="form-control form-control-sm w-auto" name="name">
      </div>
      <div class="form-group mb-2">
         <label>Amount:</label>
         <input type="number" class="form-control form-control-sm w-auto" min="1" max="999" name="raidAmount" value=5>
      </div>
   </div>
</form>