<form id="SAMMITestTwitchShoutoutReceive" class="SAMMITestTriggers">
  <div class="form-group d-flex align-items-center">
    <button type="submit" class="btn btn-primary btn-sm me-1">Shoutout Received</button>
    <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hideshoutoutreceive" role="button" aria-expanded="false" aria-controls="hideshoutoutreceive"></a>
  </div>
  <div class="collapse" id="hideshoutoutreceive" data-bs-parent="#content-triggers">
    <div class="form-group mb-2">
      <label>From Username:</label>
      <input type="text" class="form-control form-control-sm w-auto" name="name">
    </div>
  </div>
</form>
