<form id="SAMMITestTwitchStream" class="SAMMITestTriggers">
  <div class="form-group d-flex align-items-center">
    <button type="submit" class="btn btn-primary btn-sm me-1">Stream</button>
    <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hidestream" role="button" aria-expanded="false" aria-controls="hidestream"></a>
  </div>
  <div class="collapse" id="hidestream" data-bs-parent="#content-triggers">
    <div class="form-group mb-2">
      <label>Event:</label>
      <select class="form-select form-select-sm w-auto me-2" aria-label="Type" name="streamType">
        <option value="started" selected>Started</option>
        <option value="ended">Ended</option>
      </select>
    </div>
  </div>
</form>
