<form id="SAMMITestTwitchWhisper" class="SAMMITestTriggers">
  <div>
    <button type="submit" class="btn btn-primary btn-sm me-1">Whisper</button>
    <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#hidewhisper" role="button" aria-expanded="false" aria-controls="hidewhisper"></a>
  </div>
  <div class="collapse" id="hidewhisper" data-bs-parent="#content-triggers">
    <div class="form-group mb-2">
      <label>Username:</label>
      <input type="text" class="form-control form-control-sm w-auto" name="name">
    </div>
    <div class="form-group mb-2">
      <label>Message:</label>
      <textarea class="form-control form-control-sm w-75" rows="1" name="whisperMessage"></textarea>
    </div>
  </div>
</form>
