<!--YouTube Triggers-->
<div class="tab-pane" id="content-yttriggers" role="tabpanel" title="* YouTube Triggers" data-type="default">
    <div>
        <h5>YouTube Live Test Triggers</h5>
    </div>
    <div class="align-middle align-items-center">
        {% include youtube_triggers/html/subscriber.html %}
        {% include youtube_triggers/html/member.html %}
        {% include youtube_triggers/html/milestone.html %}
        {% include youtube_triggers/html/superchat.html %}
        {% include youtube_triggers/html/supersticker.html %}
        {% include youtube_triggers/html/chat.html %}
    </div>
</div>