<!--YouTube Triggers-->
<div class="tab-pane" id="content-yttriggers" role="tabpanel" title="YouTube Triggers" data-type="default">
    <div>
        <h5>YouTube Live Test Triggers</h5>
    </div>
    <div class="align-middle align-items-center">
        <button style="margin-right:10px;" type="button" class="btn btn-primary btn-sm" id="ytLiveTestSub"
            onclick="YTLiveTestEvent(this)">Test Subscriber</button><button style="margin-right:10px;" type="button"
            class="btn btn-primary btn-sm" id="ytLiveTestMember" onclick="YTLiveTestEvent(this)">Test
            Member</button><br>
        <div class="btn-group align-items-center">
            <button style="margin-right:10px;" type="button" class="btn btn-primary btn-sm" id="ytLiveTestMilestone"
                onclick="YTLiveTestEvent(this)">Test Member Renewal</button>
            <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#YTLiveHideMilestone" role="button"
                aria-expanded="false" aria-controls="HideMilestone"></a>
        </div> <br>
        <div class="collapse" id="YTLiveHideMilestone">
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Level name:</label>
                <input type="text" class="form-control form-control-sm w-auto  me-2" id="YTLiveMilestoneLevel">
                <label class="form-check-label me-1">Months:</label>
                <input type="number" class="form-control form-control-sm w-auto" min="1" max="99"
                    id="YTLiveMilestoneMonth">
            </div>
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Message:</label>
                <textarea type="text" rows="1" class="form-control form-control-sm w-75"
                    id="YTLiveMilestoneMsg"></textarea>
            </div>
        </div>
        <div class="btn-group align-items-center">
            <button style="margin-right:10px;" type="button" class="btn btn-primary btn-sm" id="ytLiveTestSuperChat"
                onclick="YTLiveTestEvent(this)">Test Super Chat</button>
            <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#YTLiveHideSuperChat" role="button"
                aria-expanded="false" aria-controls="HideSuperChat"></a>
        </div> <br>
        <div class="collapse" id="YTLiveHideSuperChat">
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Amount:</label>
                <input type="number" min="1" max="100000" class="form-control form-control-sm w-auto  me-2"
                    id="YTLiveSuperChatAmount">
                <label class="form-check-label me-1">Tier:</label>
                <input type="number" class="form-control form-control-sm w-auto" min="1" max="9"
                    id="YTLiveSuperChatTier">
            </div>
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Message:</label>
                <textarea type="text" rows="1" class="form-control form-control-sm w-75"
                    id="YTLiveSuperChatMsg"></textarea>
            </div>
        </div>
        <div class="btn-group align-items-center">
            <button style="margin-right:10px;" type="button" class="btn btn-primary btn-sm" id="ytLiveTestSuperSticker"
                onclick="YTLiveTestEvent(this)">Test Super Sticker</button>
            <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#YTLiveHideSuperSticker" role="button"
                aria-expanded="false" aria-controls="HideSuperSticker"></a>
        </div> <br>
        <div class="collapse" id="YTLiveHideSuperSticker">
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Amount:</label>
                <input type="number" min="1" max="100000" class="form-control form-control-sm w-auto  me-2"
                    id="YTLiveSuperStickerAmount">
            </div>
        </div>
        <div class="btn-group align-items-center">
            <button style="margin-right:10px;" type="button" class="btn btn-primary btn-sm" id="ytLiveTestChatMessage"
                onclick="YTLiveTestEvent(this)">Test Chat Message</button>
            <a class="tslCollapse collapsed" data-bs-toggle="collapse" href="#YTLiveHideChatMessage" role="button"
                aria-expanded="false" aria-controls="HideChatMessage"></a>
        </div> <br>
        <div class="collapse" id="YTLiveHideChatMessage">
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Display Name:</label>
                <input type="text" class="form-control form-control-sm w-auto me-2" id="YTLiveChatMessageName">
            </div>
            <div class="form-check ps-0 d-flex align-items-center">
                <label class="form-check-label me-1">Message:</label>
                <textarea type="text" rows="1" class="form-control form-control-sm w-75"
                    id="YTLiveChatMessageMsg"></textarea>
            </div>
            <input type="checkbox" id="YTLiveChatMessageBroadcaster"> Broadcaster
            <input type="checkbox" id="YTLiveChatMessageMod"> Mod
            <input type="checkbox" id="YTLiveChatMessageMember"> Member
            <input type="checkbox" id="YTLiveChatMessageVerified"> Verified
        </div>
    </div>
</div>