<div class="tab-pane non-draggable" id="content-extensions" role="tabpanel" title="Extensions" data-type="default">
    <div class='row pt-3'>
        <h5>Extensions</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover table-dark" id="extensionTable" style="color: #afb1b8;">
            <thead style="background-color: #182b50;">
                <tr>
                    <th class="pl-5 d-none d-sm-table-cell" id="ExtensionsSortName">Name</th>
                    <th class="pl-5" id="ExtensionsSortAuthor">Author</th>
                    <th class="pl-5">
                      <span class="d-none d-sm-inline">Current</span>
                      <i class="fas fa-clock d-sm-none"></i>
                    </th>
                    <th class="pl-5">
                      <span class="d-none d-sm-inline">Latest</span>
                      <i class="fas fa-rocket d-sm-none"></i>
                    </th>
                    <th class="pl-5" id="ExtensionsSortDownload">
                      <span class="d-none d-sm-inline">Download</span>
                      <i class="fas fa-download d-sm-none"></i>
                    </th>
                </tr>
            </thead>
            <tbody id="extensionTableBody">
            </tbody>
        </table>
    </div>
  </div>