<div class="row justify-content-center mt-3 px-2 mb-5" id="footer"> <a class="tslCollapse collapsed"
    data-bs-toggle="collapse" href="#installedextensions" role="button" aria-expanded="false"
    aria-controls="installedextensions"></a>
  <span class='collapse' id="installedextensions"></span>
  <span id='extensions-tab-buttons' class="mt-2">
    <button id="extensionsshow" class="btn btn-primary btn-sm me-1">Show All Tabs</button> <button id="extensionshide"
      class="btn btn-primary btn-sm me-1">Hide All Tabs</button> <button id="extensionsresetorder"
      class="btn btn-primary btn-sm me-1">Reset Tab Order</button> <button onclick="location.reload()"
      class="btn btn-primary btn-sm me-1">Refresh</button></span>
</div>