<!--Twitch Triggers-->
<div class="tab-pane" id="content-triggers" role="tabpanel" title="Twitch Triggers" data-type="default">
   {% include twitch_triggers/html/follower.html %}
   {% include twitch_triggers/html/subscriber.html %}
   {% include twitch_triggers/html/subgift.html %}
   {% include twitch_triggers/html/bits.html %}
   {% include twitch_triggers/html/points.html %}
   {% include twitch_triggers/html/raid.html %}
   {% include twitch_triggers/html/polls.html %}
   {% include twitch_triggers/html/predictions.html %}
   {% include twitch_triggers/html/hypetrain.html %}
   {% include twitch_triggers/html/shoutout.html %}
   {% include twitch_triggers/html/chat.html %}

</div>