<!--For Extension info, read How to make extensions.txt in Extension folder-->
<!--Bridge V7.20-->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>SAMMI Bridge</title>
{% include header/meta.html %}
{% include header/favicon.html %}
{% include header/stylesheet.html %}
  <style>
{% include style.css %}
  </style>
</head>

<body>
  <div class="container">
    {{ content }}
  </div>

<script>
/* eslint-disable */  
(function() {
  "use strict";
{% include core/initDefs.js %}
{% include functions/functions.js %}

window.addEventListener('load', function () {
// Instantiate SAMMICore and SAMMIUI, and setup socket connection...
const sammiclient = new SAMMIWebSocket();
window.sammiclient = sammiclient
window.lioranboardclient = sammiclient
const sammiCore = new SAMMICore();
const sammiUI = new SAMMIUI();

// Add event listener for the connection button
document.querySelector('#cnctbutton').addEventListener('click', () => {
  sammiCore.connectButton();
});

// Initialize SAMMIUI
sammiUI.initModal();
sammiUI.initTabs();
populateExtensionTable();

// Get Bridge Version
getVersionFromHTML();

// Test triggers
SAMMITestTriggers();
}, false);

{% include ui/ui.js %}
{% include core/core.js %}
{% include tabs/js/extension_updates.js %}
{% include tabs/js/twitch_triggers.js %}
{% include tabs/js/youtube_triggers.js %}
{% include tabs/js/bridge_version.js %}
{% include tabs/js/message_logging.js %}
})();

{% include ext_commands.js %}
{% include ext_hooks.js %}
{% include ext_scripts.js %}
</script>
{% include external_scripts.html %}
</body>
</html>