<!--For Extension info, read How to make extensions.txt in Extension folder-->
<!--Bridge V9.00-->
<!DOCTYPE html>
<html lang="en">

  <head>
    <title>SAMMI Bridge</title>
    <meta charset="utf-8">
    <meta name="title" content="SAMMI Bridge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SAMMI component which allows SAMMI to connect to its extensions.">
    <meta name="keywords" content="SAMMI, Bridge, Twitch, Stream">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/SAMMISolutions/SAMMI-Bridge/main/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/SAMMISolutions/SAMMI-Bridge@main/lib/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
{% include style.css %}
</style>
  </head>

  <body>
    <div class="container">
{{ content }}    </div>

      {% include bridge_script.html %}
{% include external_scripts.html %}</body>

</html>
